body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode header {
    background-color: #2c3e50;
}
